---
layout: default
title: Home
comments: true
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-info">
      <!-- <span class="post-date">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</span> -->
      <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
      <span class="post-categories">
      <!-- <i class="fas fa-tag"></i> -->
      <i class="far fa-book"></i>
      {% if post %}
       {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/category/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>


    </div>
    <!-- {{ post.content }} -->
    <div class="post-excerpt">{{ post.excerpt }}</div>
    <div class="bookmark">
      <!-- <i class="far fa-comments"></i> -->
      <i class="fas fa-comments"></i>

      
        {% include comments_count.html %}
      <span>
        <a href="{{site.baseurl}}/{{ post.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">  0 comments</a>
      </span>

    </div>
    
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ "/" | relative_url }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ "/" | relative_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ "/" | relative_url }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>