<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
        <img src="{{ "/img/headshot.png" | relative_url }}" alt="Author Image" class="headshot">
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" | relative_url %} active{% endif %}" href="{{ "/" | relative_url }}">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>
    <div class="links">
      <ul>
        <li><a href="https://shihs.github.io" class="homepage" target="_blank"><img src="{{ "img/link icon/iconmonstr-home-6-240.png" | relative_url }}"></a></li>
        <li><a href="https://github.com/shihs" class="github" target="_blank"><img src="{{ "img/link icon/iconmonstr-github-3-240.png" | relative_url }}"></a></li>
        <li><a href="https://www.linkedin.com/in/min-chun-shih-6647779a/" class="linkedin" target="_blank"><img src="{{ "img/link icon/iconmonstr-linkedin-3-240.png" | relative_url }}"></a></li>
        <li><a href="https://www.flickr.com/photos/mcshihs/" class="github" target="_blank"><img src="{{ "img/link icon/iconmonstr-flickr-3-240.png" | relative_url }}"></a></li>
      </ul>
    </div>
    

    <p class = "rights">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
