---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-info">
    <span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span> 
    <span>
        <i class="fas fa-comments"></i>
        <a href="{{ site.baseurl }}/{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">0 comments</a>
    </span>
    <span class="post-categories">
      <!-- <i class="fas fa-tag"></i> -->
      <i class="far fa-book"></i>
      {% if post %}
       {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{ site.baseurl }}/category/#{{ category|slugize }}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>
  </div>
  <div>
    {{ content }}
  </div>
</div>

{% include comments.html %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url | relative_url}}">
            {{ post.title }}
            <small>{{ post.date | date: "%b %-d, %Y" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
